{% extends 'app/base.html' %}
{% load static %}
{% block title %}Mobile{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
   <div  class="list-group">
    <a href="{% url 'mobile' %}" class="list-group-item list-group-item-action" aria-current="true">All Mobile</a>
    <a href="{% url 'mobiledata' 'ji' %}" class="list-group-item list-group-item-action" aria-current="true">Redmi</a>
    <a href="{% url 'mobiledata' 'jiuui' %}" class="list-group-item list-group-item-action" aria-current="true">Samsung</a>

   </div>
  </div>
  <div class="col-sm-8">
   <div class="row">
    {%  for product in mobiles %}
    <div class="col-sm text-center" >
     <a href="{% url 'product-detail' product.id %}" class="btn" >
      <div class="item">
       <img src="{{product.product_image.url}}"  height="200" >
       <div class="fw-bold">{{product.title}}</div>
      <div class="fw-bold">Rs. {{product.discounted_price}}<small class="fw-light text-decoration-line-through">{{product.selling_price}}</small> </div>
      </div>
     </a>
    </div>
    {% endfor %}
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}