{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome Sonam</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password Done</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
      <h3>Password Changed Successfully !!</h3>
      <div><iframe src="https://giphy.com/embed/ibo1Le3mOqHE3PQTtk" width="200" height="200" frameborder="0" class="giphy-embed" allowfullscreen></iframe> </div>


  </div>
 </div>
</div>
{% endblock main-content %}